<div class="project row" style="background-image: url({{project.cover}}); background-size: cover;">
  <div class="cover {% cycle 'left', 'right'%} col m5 s12">
    <div class="valign-wrapper">
      <div class="col s8 offset-s2">
        <a href={{project.github_url}}><h2 class="heading"> <font color="DodgerBlue ">{{project.title}}</font></h3></a>
        <p><small>Date: {{project.date}} to {{project.last_modified_at}}</small></p>
      </div>
    </div>
  </div>
   <!-- Modal Structure -->
    {% include project_modal.html %}
</div>
